@charset "utf-8";

header{
  position:fixed;
  top:0px;
  width:300px;
  height:100%;
  z-index:100;
  background-color: rgb(238, 238, 238);
  display:none;
  border-right: 1px solid #ccc;
}
header img{position: absolute;
  top: 80px;
  right: 100px;
  width: 100px;}



/* 내비게이션 서식  */




header .gnb{
  position: relative;

}
header .gnb li{
line-height: 2rem;
width:2.5rem;
height:2.6rem;
overflow: hidden;
transition: 0.8s;
position: absolute;
top:200px;
right:130px;
color:#8C5B3F;
}
header .gnb li:first-child{top:200px}
header .gnb li:nth-child(2){top:270px;}
header .gnb li:nth-child(3){top:340px;}
header .gnb li:nth-child(4){top:410px;}
header .gnb li:nth-child(5){top:480px;}
header .gnb li:nth-child(6){top:550px;}
header .gnb li:last-child{top:620px;}
header .gnb li:hover span{font-weight: bold;}

header .gnb span{font-size: 2.3rem;}

header .gnb li:first-child a{font-size:2rem;}
header .gnb li:nth-child(2) a{font-size:2rem;}
header .gnb li:nth-child(3) a{font-size: 23px;
}
header .gnb li:nth-child(4) a{font-size: 23px;
  }
header .gnb li:nth-child(5) a{font-size: 23px;
 }
header .gnb li:nth-child(6) a{font-size: 23px;
 }
header .gnb li:last-child a{font-size:25px;}

.act{width: 150px !important;
  }


#about{
  height:950px;
  background-color:rgb(238, 238, 238);
}

#logo{
  height:950px;
  background-color:rgb(238, 238, 238);
}

#projectA{
  height:950px;
  background-color:rgb(238, 238, 238);
}

#projectB{
  height:950px;
  background-color:rgb(238, 238, 238);
}

#projectC{
  height:950px;
  background-color:rgb(238, 238, 238);
}
#projectD{
  height: 950px;
  background-color: rgb(238, 238, 238);
}

#footer{
  height:950px;
  background-color:rgb(238, 238, 238);
}

footer{height:100px;
  background-color:rgb(238, 238, 238);}

  
  .status {
    position: fixed;
    top: 100px;
    right: 100px;
    background: #ffff00;
    color: #f00;
    font-size: 20px;
    display: none;
  }

  /* 모달서식 */
  .modal01 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
  }

  .modal01 img {
    position: absolute;
    top: 10%;
    width: 300px;
  }

  .modal01 a {
    position: absolute;
    right: 20%;
    top: 20%;
    font-size: 20px;
    background-color: #fff;
    padding: 6px 10px;
  }

  /* 모달02서식 */
  .modal02 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
  }

  .modal02 img {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 800px;
  }

  .modal02 a {
    position: absolute;
    right: 20%;
    top: 20%;
    font-size: 20px;
    background-color: #fff;
    padding: 6px 10px;
  }

 

    /* 모달서식 */
  .modal04 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
  }

  .modal04 img {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 800px;
  }

  .modal04 a {
    position: absolute;
    right: 20%;
    top: 20%;
    font-size: 20px;
    background-color: #fff;
    padding: 6px 10px;
  }

  